body {
	margin-top: 50px;
}

.container {
	max-width: 290px;
	margin: 15px auto 15px;
	padding: 20px;
	background: #f5f5f5;
	border-radius: 10px;
	box-sizing: border-box;
}

.QR {
	max-width: 100%;
}

form {
	margin-bottom: 0;
	display: grid;
	grid-template-columns: 1fr 50px;
	border: 3px solid #ec1c24;
	border-radius: 5px;
	overflow: hidden;
}

form input {
	border: 0;
	outline: 0 !important;
	box-shadow: none !important;
	padding: 10px 10px;
	background: none;
	font-size: 18px;
	box-sizing: border-box;
	width: 100%;
}

form button {
	background: #ec1c24;
	color: #fff;
	border: 0 !important;
	outline: 0 !important;
	box-shadow: none;
	font-size: 20px;
}

p {
	font: 500 18px sans-serif;
	white-space: nowrap;
	text-overflow: ellipsis;
	margin-bottom: 0
}